@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-style: normal;
}

/*shared style*/
.dark2 {
  color: #424242;
}

.btn-primary {
  background-color: rgb(255, 144, 14);
  width: 9rem;
  height: 60px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
}
/*nav bar style start*/

.header {
  background-color: rgba(255, 144, 14, 0.1);
}

.brand-logo {
  font-size: 2.8rem;
  font-weight: 700px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}
.nav-links a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
}
.nav-links li {
  list-style: none;
  margin-left: 30px;
}

.nav,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner {
  text-align: center;
  margin: 0 auto;
}

.banner-content {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.banner-image img {
  width: 100%;
  margin-top: 50px;
}

.banner-titel {
  font-size: 5rem;
}

/*responsive nav item small divise*/
@media screen and (max-width: 768px) {
  .nav,
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .banner-titel {
    font-size: 3rem;
  }

  .nav-links {
    margin-right: 60px;
    line-height: 30px;
  }

  .nav-links a {
    font-size: 1.8rem;
  }
}
